<section class="container my-5">
    <h2 class="text-center mb-4">Student List</h2>
    <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        <div class="col" *ngFor="let student of studentList">
            <div class="card d-flex flex-row" style="height: 125px;">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREN1EX8TvuZBmzKGYU0_1O2Shh5WYFGW1CieQHonTavxNi642yRUXVlTaGZtWGyiu5fh8&usqp=CAU"
                        class="card-img-top" alt="Student Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ student.studentName }}</h5>
                    <dl>
                        <dd class="card-text">{{ student.studentGender }}</dd>
                        <dd class="card-text">{{ student.createdOn }}</dd>
                    </dl>
                </div>
                <div class="d-flex flex-column gap-2 p-3">
                    <button type="button" (click)="editStudent(student.studentId)">Edit</button>
                    <button type="button" (click)="deleteStudent()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>