<section class="container my-5">
    <h2 class="text-center mb-4">Learning and knowldge Transfer</h2>
    <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        <div class="col">
            <div class="card" routerLink="/addStudent">
                <div class="img-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSToSZUFvNpspuMsyXL2YC2FJCjzk_Hsmb1Bw&usqp=CAU"
                        class="card-img-top" alt="Feature 1">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Register a New Student</h5>
                    <!-- <p class="card-text">A brief description of feature 1.</p> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" routerLink="/viewStudent">
                <div class="img-container">
                    <img src="https://a0.anyrgb.com/pngimg/1466/210/i-want-to-work-student-group-students-union-student-cap-student-society-social-group-classroom-fun-community-public-relations.png"
                        class="card-img-top " alt="Feature 2">
                </div>
                <div class="card-body">
                    <h5 class="card-title">View Registed Student</h5>
                    <!-- <p class="card-text">A brief description of feature 2.</p> -->
                </div>
            </div>
        </div>

    </div>
</section>